/*

# whitelist
!/DifferentialGeometry/
!/.github
!/Examples/
!/DifferentialGeometry.lean
!/lakefile.toml
!/lake-manifest.json
!/lean-toolchain
!/README.md
!/LICENSE
!/NOTICE
!/.gitignore
# end of whitelist

.lake/

.DS_Store
**/.DS_Store
