/*

# whitelist
!/DifferentialGeometry/
!/.github
!/Examples/
!/DifferentialGeometry.lean
!/lakefile.toml
!/lake-manifest.json
!/lean-toolchain
!/README.md
!/LICENSE
!/NOTICE
!/.gitignore
!/HAMILTON_VERSION.md
!/Challenge.lean
!/Solution.lean
!/comparator.json
!/HamiltonDefinitions.lean
!/HamiltonBridge.lean
!/ComparatorSupport/
# end of whitelist

.lake/

.DS_Store
**/.DS_Store
